/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../../../OneDrive/Desktop/edit/edit/scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../../../OneDrive/Desktop/edit/edit/scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../../../OneDrive/Desktop/edit/edit/scss/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../../../OneDrive/Desktop/edit/edit/scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../../../OneDrive/Desktop/edit/edit/scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../../../OneDrive/Desktop/edit/edit/scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../../../OneDrive/Desktop/edit/edit/scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 49, ../../../OneDrive/Desktop/edit/edit/scss/_reset.scss */
* {
  box-sizing: border-box;
}

/* line 53, ../../../OneDrive/Desktop/edit/edit/scss/_reset.scss */
a {
  text-decoration: none;
}

/* !!!!!!! variables !!!!!! */
/*fonts*/
/*font size*/
/*website colors*/
/* !!!!!!! ELEMENTS !!!!!! */
/* line 25, ../../../OneDrive/Desktop/edit/edit/scss/_config.scss */
body {
  color: #595959;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  height: 100%;
  line-height: 20px;
}

/*headings*/
/* line 34, ../../../OneDrive/Desktop/edit/edit/scss/_config.scss */
h1,
h2 {
  text-transform: uppercase;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  line-height: 30px;
}

/* line 42, ../../../OneDrive/Desktop/edit/edit/scss/_config.scss */
h1 {
  font-size: 56px;
  margin-bottom: 20px;
}

/* line 47, ../../../OneDrive/Desktop/edit/edit/scss/_config.scss */
h2 {
  font-size: 20px;
}

/* line 51, ../../../OneDrive/Desktop/edit/edit/scss/_config.scss */
h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

/* line 57, ../../../OneDrive/Desktop/edit/edit/scss/_config.scss */
a {
  color: #a1a1a1;
  transition: all 0.2s ease 0s;
}

/* line 60, ../../../OneDrive/Desktop/edit/edit/scss/_config.scss */
a:hover {
  color: #95dbd9;
}

/* line 65, ../../../OneDrive/Desktop/edit/edit/scss/_config.scss */
p {
  margin-bottom: 10px;
}

/* line 69, ../../../OneDrive/Desktop/edit/edit/scss/_config.scss */
li {
  line-height: 20px;
}

/* line 73, ../../../OneDrive/Desktop/edit/edit/scss/_config.scss */
section {
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
}

/* divider */
/* line 82, ../../../OneDrive/Desktop/edit/edit/scss/_config.scss */
hr {
  height: 1px;
  background-color: #cfcfcf;
  border: none;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 15px;
}

/* !!!!!!! CLASSES !!!!!! */
/*button*/
/* line 95, ../../../OneDrive/Desktop/edit/edit/scss/_config.scss */
.active {
  color: #95dbd9;
}

/* line 99, ../../../OneDrive/Desktop/edit/edit/scss/_config.scss */
.sections {
  margin: 20px 20px;
}

/* line 103, ../../../OneDrive/Desktop/edit/edit/scss/_config.scss */
.submit-btn {
  background-color: #95dbd9;
  border: 1px solid #95dbd9;
  font-family: "Lato", sans-serif;
  padding: 8px;
  transition: all 0.2s ease-in-out;
}

/* line 110, ../../../OneDrive/Desktop/edit/edit/scss/_config.scss */
.submit-btn:hover {
  border: 1px solid #f5d378;
  cursor: pointer;
}

/* !!!!!!! MIXINS !!!!!! */
/* BREAKPOINTS 
xs/phone
sm/tablet
md/desktop
lg/large device


*/
/*mixins media query*/
/*
@mixin mq-phone {
  @media (max-width: 600px) {
    @content;
  }
}*/
/* line 1, ../../../OneDrive/Desktop/edit/edit/scss/_header.scss */
header {
  width: 100%;
  border-bottom: 1px solid #f5d378;
  margin-bottom: 30px;
}

/* line 6, ../../../OneDrive/Desktop/edit/edit/scss/_header.scss */
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 100%;
  font-size: 14px;
  margin: 10px 0;
}

/* line 7, ../../../OneDrive/Desktop/edit/edit/scss/_header.scss */
header nav .cont {
  display: flex;
  justify-content: flex-start;
  background: azure;
  width: 100%;
}

@media (max-width: 599px) {
  /* line 7, ../../../OneDrive/Desktop/edit/edit/scss/_header.scss */
  header nav .cont {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
  }
}

/* line 22, ../../../OneDrive/Desktop/edit/edit/scss/_header.scss */
header nav div .logo {
  margin-right: 20px;
  height: 30px;
}

@media (max-width: 599px) {
  /* line 6, ../../../OneDrive/Desktop/edit/edit/scss/_header.scss */
  header nav {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
  }
}

/* line 46, ../../../OneDrive/Desktop/edit/edit/scss/_header.scss */
header nav .me {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 51, ../../../OneDrive/Desktop/edit/edit/scss/_header.scss */
header nav .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 599px) {
  /* line 51, ../../../OneDrive/Desktop/edit/edit/scss/_header.scss */
  header nav .menu {
    display: block;
    background: #ebedec;
    width: 100%;
    align-items: left;
  }
}

/* line 64, ../../../OneDrive/Desktop/edit/edit/scss/_header.scss */
header nav .menu li {
  margin-right: 20px;
  display: inline-block;
}

@media (max-width: 599px) {
  /* line 64, ../../../OneDrive/Desktop/edit/edit/scss/_header.scss */
  header nav .menu li {
    flex-direction: column;
    padding: 20px;
    width: 100%;
  }
  /* line 71, ../../../OneDrive/Desktop/edit/edit/scss/_header.scss */
  header nav .menu li:hover {
    background: #d8ece7;
  }
}

@media (max-width: 599px) {
  /* line 76, ../../../OneDrive/Desktop/edit/edit/scss/_header.scss */
  header nav .menu li a {
    display: block;
    padding-bottom: 10px;
  }
}

/* line 85, ../../../OneDrive/Desktop/edit/edit/scss/_header.scss */
header nav .fas {
  margin-right: 5px;
  font-size: 12px;
}

@media (max-width: 599px) {
  /* line 85, ../../../OneDrive/Desktop/edit/edit/scss/_header.scss */
  header nav .fas {
    display: none;
  }
}

/* line 94, ../../../OneDrive/Desktop/edit/edit/scss/_header.scss */
header nav .menu-btn {
  display: none;
}

@media (max-width: 599px) {
  /* line 94, ../../../OneDrive/Desktop/edit/edit/scss/_header.scss */
  header nav .menu-btn {
    display: block;
    padding: 2vw;
    font-size: 5vh;
    background-color: #f5d378;
    border: none;
    align-self: flex-start;
    /*outline none removes the default blue border that appears anytime you click on the button*/
    outline: none;
    cursor: pointer;
  }
}

@media (max-width: 599px) {
  /* line 111, ../../../OneDrive/Desktop/edit/edit/scss/_header.scss */
  header nav .logo-menu {
    padding: 20px;
    background: #ebedec;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* line 1, ../../../OneDrive/Desktop/edit/edit/scss/_footer.scss */
footer {
  background: #fafafa;
  height: 5%;
  padding: 10px 10px 20px;
  font-size: 13px;
  margin: auto;
  width: 90%;
}

/* line 9, ../../../OneDrive/Desktop/edit/edit/scss/_footer.scss */
footer .wrapper {
  max-width: 1180px;
  border: none;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/* line 15, ../../../OneDrive/Desktop/edit/edit/scss/_footer.scss */
footer .wrapper:hover {
  border: none;
}

@media (max-width: 599px) {
  /* line 9, ../../../OneDrive/Desktop/edit/edit/scss/_footer.scss */
  footer .wrapper {
    display: block;
    text-align: center;
    border-left: 1px solid #95dbd9;
    border-right: 1px solid #95dbd9;
  }
}

/* line 26, ../../../OneDrive/Desktop/edit/edit/scss/_footer.scss */
footer .wrapper div {
  border-right: 1px solid #95dbd9;
  line-height: 10px;
  flex-basis: 25%;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-flow: row;
}

@media (max-width: 599px) {
  /* line 26, ../../../OneDrive/Desktop/edit/edit/scss/_footer.scss */
  footer .wrapper div {
    border-right: none;
  }
}

/* line 39, ../../../OneDrive/Desktop/edit/edit/scss/_footer.scss */
footer .wrapper div:hover {
  border-right: 1px solid #f5d378;
}

/* line 43, ../../../OneDrive/Desktop/edit/edit/scss/_footer.scss */
footer .wrapper div h2 {
  font-size: 12px;
  margin-bottom: 10px;
}

/* line 48, ../../../OneDrive/Desktop/edit/edit/scss/_footer.scss */
footer .wrapper div.social-list {
  border-right: none;
}

/* line 50, ../../../OneDrive/Desktop/edit/edit/scss/_footer.scss */
footer .wrapper div.social-list li {
  display: inline;
}

/* line 54, ../../../OneDrive/Desktop/edit/edit/scss/_footer.scss */
footer .wrapper div.social-list i {
  padding-top: 15px;
  font-size: 15px;
  padding-right: 12px;
}

/* line 1, ../../../OneDrive/Desktop/edit/edit/scss/_slick-carousel.scss */
.the-carousel {
  background-color: #cfcfcf;
  height: 100px;
}

/* line 1, ../../../OneDrive/Desktop/edit/edit/scss/_grid.scss */
.grid {
  max-width: 1180px;
  margin: 0 auto;
  height: 700px;
  font-size: 0;
}

/* line 7, ../../../OneDrive/Desktop/edit/edit/scss/_grid.scss */
.grid .column {
  font-size: 12px;
  max-width: 25%;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  background: #95dbd9;
}

/* line 21, ../../../OneDrive/Desktop/edit/edit/scss/_grid.scss */
.grid .column .item {
  height: 33.33%;
  width: 100%;
}

/* line 30, ../../../OneDrive/Desktop/edit/edit/scss/_grid.scss */
.grid .column .item article {
  position: relative;
  top: 50%;
  text-align: center;
  transform: translatey(-50%);
  margin: 0 auto;
}

/* line 37, ../../../OneDrive/Desktop/edit/edit/scss/_grid.scss */
.grid .column .item article .fa-arrow-left,
.grid .column .item article .fa-twitter {
  margin-bottom: 15px;
}

/* line 45, ../../../OneDrive/Desktop/edit/edit/scss/_grid.scss */
.grid .column .item.yellow {
  background: #f5d378;
}

/* line 48, ../../../OneDrive/Desktop/edit/edit/scss/_grid.scss */
.grid .column .item.mint {
  background: #d8ece7;
}

/* line 52, ../../../OneDrive/Desktop/edit/edit/scss/_grid.scss */
.grid .column .item.light-mint {
  background: #d8ece7;
}

/* line 56, ../../../OneDrive/Desktop/edit/edit/scss/_grid.scss */
.grid .column .item.xl {
  height: 66.66%;
  background: #ebedec;
}

/* line 66, ../../../OneDrive/Desktop/edit/edit/scss/_grid.scss */
figure {
  text-align: center;
  display: inline-block;
  padding: 0 30px;
  position: relative;
}

/* line 72, ../../../OneDrive/Desktop/edit/edit/scss/_grid.scss */
figure:before {
  content: "";
  display: block;
  width: 20px;
  height: 1px;
  background: #a1a1a1;
  left: 0;
  top: 50%;
  position: absolute;
}

/* line 82, ../../../OneDrive/Desktop/edit/edit/scss/_grid.scss */
figure:after {
  content: "";
  display: block;
  width: 20px;
  height: 1px;
  background: #a1a1a1;
  right: 0;
  top: 50%;
  position: absolute;
}

/* line 1, ../../../OneDrive/Desktop/edit/edit/scss/_newsletter.scss */
.newsletter {
  height: 2%;
  margin: 60px auto;
}

/* line 5, ../../../OneDrive/Desktop/edit/edit/scss/_newsletter.scss */
.newsletter .newsform {
  margin: 40px;
  font-size: 0;
}

/* line 9, ../../../OneDrive/Desktop/edit/edit/scss/_newsletter.scss */
.newsletter .newsform .write-email {
  padding: 8px 10px;
  border: 1px solid #95dbd9;
  font-family: "Lato", sans-serif;
  width: 200px;
}

@media (max-width: 599px) {
  /* line 9, ../../../OneDrive/Desktop/edit/edit/scss/_newsletter.scss */
  .newsletter .newsform .write-email {
    width: 150px;
  }
}

/* line 1, ../../../OneDrive/Desktop/edit/edit/scss/_carousel.scss */
#slider,
.wrap,
.slide-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 60vh;
  overflow-x: hidden;
}

/* line 11, ../../../OneDrive/Desktop/edit/edit/scss/_carousel.scss */
.wrap {
  position: relative;
  margin-bottom: 40px;
}

/* line 16, ../../../OneDrive/Desktop/edit/edit/scss/_carousel.scss */
.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 22, ../../../OneDrive/Desktop/edit/edit/scss/_carousel.scss */
.slide1 {
  background-image: url("https://i.imgur.com/iiQ8OQh.jpg");
}

/* line 26, ../../../OneDrive/Desktop/edit/edit/scss/_carousel.scss */
.slide2 {
  background-image: url("https://i.imgur.com/Sq4KSny.jpg");
}

/* line 30, ../../../OneDrive/Desktop/edit/edit/scss/_carousel.scss */
.slide3 {
  background-image: url("https://i.imgur.com/5MRcQYB.jpg");
}

/* line 34, ../../../OneDrive/Desktop/edit/edit/scss/_carousel.scss */
.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

/* line 42, ../../../OneDrive/Desktop/edit/edit/scss/_carousel.scss */
.slide-content h1 {
  color: white;
  line-height: 50px;
}

@media (max-width: 599px) {
  /* line 42, ../../../OneDrive/Desktop/edit/edit/scss/_carousel.scss */
  .slide-content h1 {
    font-size: 32px;
    color: #95dbd9;
  }
}

/* line 52, ../../../OneDrive/Desktop/edit/edit/scss/_carousel.scss */
.slide-content p {
  margin-bottom: 50px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 61, ../../../OneDrive/Desktop/edit/edit/scss/_carousel.scss */
.slide-content .link-btn {
  border: 1px solid #89ccca;
  color: white;
  background: transparent;
  padding: 15px 30px;
  letter-spacing: 0.1em;
  font-size: 13px;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  min-width: 100px;
  max-width: 300px;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

/* line 74, ../../../OneDrive/Desktop/edit/edit/scss/_carousel.scss */
.slide-content .link-btn:hover {
  border: 1px solid #f5d378;
}

@media (max-width: 599px) {
  /* line 61, ../../../OneDrive/Desktop/edit/edit/scss/_carousel.scss */
  .slide-content .link-btn {
    padding: 10px;
  }
}

/* line 84, ../../../OneDrive/Desktop/edit/edit/scss/_carousel.scss */
.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  width: 0;
  height: 0;
  border-style: solid;
}

/* line 94, ../../../OneDrive/Desktop/edit/edit/scss/_carousel.scss */
#arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent #95dbd9 transparent transparent;
  left: 0;
  margin-left: 30px;
  opacity: 0.5;
}

/* line 102, ../../../OneDrive/Desktop/edit/edit/scss/_carousel.scss */
#arrow-left:hover {
  opacity: 1;
  border-color: transparent #ebedec transparent transparent;
  transition: all 0.5s;
}

/* line 108, ../../../OneDrive/Desktop/edit/edit/scss/_carousel.scss */
#arrow-right {
  border-width: 30px 0 30px 40px;
  border-color: transparent transparent transparent #95dbd9;
  right: 0;
  margin-right: 30px;
  opacity: 0.5;
}

/* line 116, ../../../OneDrive/Desktop/edit/edit/scss/_carousel.scss */
#arrow-right:hover {
  opacity: 1;
  border-color: transparent transparent transparent #ebedec;
  transition: all 0.5s;
}

/* line 1, ../../../OneDrive/Desktop/edit/edit/scss/_contact.scss */
.form-area {
  width: 60%;
  max-width: 800px;
  margin: 40px auto;
  text-align: center;
}

/* line 7, ../../../OneDrive/Desktop/edit/edit/scss/_contact.scss */
.name,
.email {
  text-align: left;
}

/* line 12, ../../../OneDrive/Desktop/edit/edit/scss/_contact.scss */
#name,
#email,
#message,
.dropdown {
  border: 1px solid #95dbd9;
  background: transparent;
  padding: 1em;
  display: block;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 2em;
  resize: none;
}

/* line 26, ../../../OneDrive/Desktop/edit/edit/scss/_contact.scss */
#message {
  height: 150px;
}

/* line 30, ../../../OneDrive/Desktop/edit/edit/scss/_contact.scss */
.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

/* line 36, ../../../OneDrive/Desktop/edit/edit/scss/_contact.scss */
.left {
  margin-right: 2%;
}

/* line 40, ../../../OneDrive/Desktop/edit/edit/scss/_contact.scss */
.right {
  width: 50%;
}

/* line 44, ../../../OneDrive/Desktop/edit/edit/scss/_contact.scss */
#input-submit {
  max-width: 300px;
  cursor: pointer;
  border: 1px solid #95dbd9;
  padding: 10px 15px;
  font-family: "Lato", sans-serif;
  background: #95dbd9;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* line 54, ../../../OneDrive/Desktop/edit/edit/scss/_contact.scss */
#input-submit:hover {
  border: 1px solid #f5d378;
}

/* line 2, ../../../OneDrive/Desktop/edit/edit/scss/_about.scss */
.about {
  text-align: left;
}

/* line 5, ../../../OneDrive/Desktop/edit/edit/scss/_about.scss */
.about aside {
  width: 48%;
  background: #ebedec;
  display: inline-block;
}

/* line 9, ../../../OneDrive/Desktop/edit/edit/scss/_about.scss */
.about aside:nth-of-type(1) {
  margin-right: 1%;
}

/* line 12, ../../../OneDrive/Desktop/edit/edit/scss/_about.scss */
.about aside:nth-of-type(2) {
  margin-left: 1%;
}

/* line 16, ../../../OneDrive/Desktop/edit/edit/scss/_about.scss */
.about aside p,
.about aside h2 {
  padding: 10px;
}

/*slider mock up */
/* line 3, ../../../OneDrive/Desktop/edit/edit/scss/_details.scss */
.slider {
  width: 100%;
  height: 400px;
  background: #ebedec;
  margin-bottom: 30px;
  position: relative;
  margin-top: 20px;
}

/* line 11, ../../../OneDrive/Desktop/edit/edit/scss/_details.scss */
.slider .blocks {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #ebedec;
  margin-left: 1070px;
  opacity: 0.6;
  border: 1px solid white;
  z-index: 2;
}

/* line 22, ../../../OneDrive/Desktop/edit/edit/scss/_details.scss */
.slider .block-one {
  margin-top: 340px;
}

/* line 26, ../../../OneDrive/Desktop/edit/edit/scss/_details.scss */
.slider .block-two {
  margin-top: 280px;
}

/* line 30, ../../../OneDrive/Desktop/edit/edit/scss/_details.scss */
.slider .block-three {
  margin-top: 220px;
}

/*detailed product */
/* line 37, ../../../OneDrive/Desktop/edit/edit/scss/_details.scss */
.detailed-product {
  margin: auto;
  width: 100%;
  text-align: center;
}

/* line 42, ../../../OneDrive/Desktop/edit/edit/scss/_details.scss */
.detailed-product .product-name {
  margin-bottom: 20px;
}

/* line 44, ../../../OneDrive/Desktop/edit/edit/scss/_details.scss */
.detailed-product .product-name p {
  font-size: 10px;
  color: #a1a1a1;
}

/* line 50, ../../../OneDrive/Desktop/edit/edit/scss/_details.scss */
.detailed-product .price {
  margin-bottom: 20px;
}

/* line 52, ../../../OneDrive/Desktop/edit/edit/scss/_details.scss */
.detailed-product .price p {
  font-style: italic;
}

/* line 57, ../../../OneDrive/Desktop/edit/edit/scss/_details.scss */
.detailed-product .description {
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
}

/* line 63, ../../../OneDrive/Desktop/edit/edit/scss/_details.scss */
.detailed-product .sizes {
  margin-bottom: 20px;
}

/* line 66, ../../../OneDrive/Desktop/edit/edit/scss/_details.scss */
.detailed-product .sizes p {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
}

/* line 72, ../../../OneDrive/Desktop/edit/edit/scss/_details.scss */
.detailed-product .sizes span {
  display: inline-block;
  border: 1px solid #ebedec;
  padding: 5px;
  width: 30px;
}

/* line 77, ../../../OneDrive/Desktop/edit/edit/scss/_details.scss */
.detailed-product .sizes span:hover {
  border: 1px solid #95dbd9;
}

/* line 81, ../../../OneDrive/Desktop/edit/edit/scss/_details.scss */
.detailed-product .sizes span.select {
  border: 1px solid #95dbd9;
}

/* line 90, ../../../OneDrive/Desktop/edit/edit/scss/_details.scss */
.add-btn {
  border: 1px solid #95dbd9;
  background: #95dbd9;
  padding: 10px 15px;
  letter-spacing: 0.1em;
  font-size: 13px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  max-width: 300px;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

/* line 101, ../../../OneDrive/Desktop/edit/edit/scss/_details.scss */
.add-btn:hover {
  border: 1px solid #f5d378;
}

/* line 4, ../../../OneDrive/Desktop/edit/edit/scss/_category.scss */
.categories .category-name {
  width: 80%;
  margin: 40px auto;
  text-align: center;
}

/* line 11, ../../../OneDrive/Desktop/edit/edit/scss/_category.scss */
.categories .show-more .fa-caret-right {
  position: relative;
  left: 5px;
  top: 1px;
}

/* line 21, ../../../OneDrive/Desktop/edit/edit/scss/_category.scss */
.products {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

/* line 27, ../../../OneDrive/Desktop/edit/edit/scss/_category.scss */
.products .product-card {
  flex-direction: row;
  flex-basis: 25%;
  padding: 20px;
  box-sizing: border-box;
}

/* line 34, ../../../OneDrive/Desktop/edit/edit/scss/_category.scss */
.products .product-image img {
  width: 100%;
}

/* line 38, ../../../OneDrive/Desktop/edit/edit/scss/_category.scss */
.products .product-info {
  margin-top: auto;
  padding-top: 20px;
  text-align: center;
  line-height: 20px;
}

/*!! sections links, including the active one !! */
/* line 3, ../../../OneDrive/Desktop/edit/edit/scss/_sections.scss */
.section-page {
  height: 40px;
  margin: 0 auto;
  text-align: left;
  text-transform: uppercase;
}

/* line 9, ../../../OneDrive/Desktop/edit/edit/scss/_sections.scss */
.section-page .section-link {
  margin-right: 10px;
}

/* line 13, ../../../OneDrive/Desktop/edit/edit/scss/_sections.scss */
.section-page .section-link2 {
  margin-left: 10px;
  margin-right: 10px;
}

/*heading page title*/
/* line 4, ../../../OneDrive/Desktop/edit/edit/scss/_heading.scss */
.heading .heading-hero {
  width: 80%;
  margin: 40px auto;
  text-align: center;
}

/* line 1, ../../../OneDrive/Desktop/edit/edit/scss/_checkoutone.scss */
.shopping-cart-one {
  width: 90%;
}

/* line 4, ../../../OneDrive/Desktop/edit/edit/scss/_checkoutone.scss */
.shopping-cart-one .checkout {
  background: #d8ece7;
  padding: 5px 10px;
}

/* line 8, ../../../OneDrive/Desktop/edit/edit/scss/_checkoutone.scss */
.shopping-cart-one .checkout p {
  align-items: center;
  font-weight: bold;
}

/* line 14, ../../../OneDrive/Desktop/edit/edit/scss/_checkoutone.scss */
.shopping-cart-one .outro {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ebedec;
  align-items: center;
  padding: 5px 10px;
  font-size: 13px;
}

/* line 23, ../../../OneDrive/Desktop/edit/edit/scss/_checkoutone.scss */
.shopping-cart-one .line-one {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ebedec;
  align-items: center;
  font-size: 13px;
}

/* line 30, ../../../OneDrive/Desktop/edit/edit/scss/_checkoutone.scss */
.shopping-cart-one .line-one .reference {
  font-size: 10px;
  font-style: italic;
  font-family: "Roboto Slab", serif;
}

/* line 36, ../../../OneDrive/Desktop/edit/edit/scss/_checkoutone.scss */
.shopping-cart-one .line-one .product-title {
  font-weight: 700;
  text-transform: uppercase;
}

/* line 42, ../../../OneDrive/Desktop/edit/edit/scss/_checkoutone.scss */
.shopping-cart-one .line-one .teste img {
  height: 80px;
}

/* line 46, ../../../OneDrive/Desktop/edit/edit/scss/_checkoutone.scss */
.shopping-cart-one .line-one .teste .cart-price p {
  display: inline;
  text-transform: uppercase;
}

/* line 54, ../../../OneDrive/Desktop/edit/edit/scss/_checkoutone.scss */
.shopping-cart-one .subtotal {
  background-color: #ebedec;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 13px;
  height: 50px;
  margin-top: 18px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* line 64, ../../../OneDrive/Desktop/edit/edit/scss/_checkoutone.scss */
.shopping-cart-one .subtotal .sub-title {
  padding-right: 20px;
}

/* line 68, ../../../OneDrive/Desktop/edit/edit/scss/_checkoutone.scss */
.shopping-cart-one .subtotal .total-value {
  color: #95dbd9;
  padding-right: 20px;
}

/* line 74, ../../../OneDrive/Desktop/edit/edit/scss/_checkoutone.scss */
.shopping-cart-one .order {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

/* line 80, ../../../OneDrive/Desktop/edit/edit/scss/_checkoutone.scss */
.shopping-cart-one .order a {
  text-decoration: underline;
}

/*# sourceMappingURL=main.css.map */