.the-carousel {
  background: $lightgreycolor;
  height: 100px;

  p {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
  }
}

/*sugestion text*/
.sugestion {
  margin: 30px 0;
  font-size: 16px;
  font-style: italic;
}
