#slider,
.wrap,
.slide-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 60vh;
  overflow-x: hidden;
}

.wrap {
  position: relative;
  margin-bottom: 40px;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: url("https://i.imgur.com/iiQ8OQh.jpg");
}

.slide2 {
  background-image: url("https://i.imgur.com/5MRcQYB.jpg");
}

.slide3 {
  background-image: url("https://i.imgur.com/5MRcQYB.jpg"); 

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;

  h1 {
    color: white;
    line-height: 50px;

    @include for-phone {
      font-size: 32px;
      color: $mintcolor;
    }
  }

  p {
    margin-bottom: 50px;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
  }

  //button

  .link-btn {
    border: 1px solid #89ccca;
    color: white;
    background: transparent;
    padding: 15px 30px;
    letter-spacing: 0.1em;
    font-size: 13px;
    font-family: $secondaryfont;
    text-transform: uppercase;
    min-width: 100px;
    max-width: 300px;
    display: inline-block;
    transition: all 0.2s ease-in-out;
    &:hover {
      border: 1px solid $yellowcolor;
    }

    @include for-phone {
      padding: 10px;
    }
  }
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent $mintcolor transparent transparent;
  left: 0;
  margin-left: 30px;
  opacity: 0.5;
}

#arrow-left:hover {
  opacity: 1;
  border-color: transparent $superlightgreycolor transparent transparent;
  transition: all 0.5s;
}

#arrow-right {
  border-width: 30px 0 30px 40px;
  border-color: transparent transparent transparent $mintcolor;
  right: 0;
  margin-right: 30px;
  opacity: 0.5;
}

#arrow-right:hover {
  opacity: 1;
  border-color: transparent transparent transparent $superlightgreycolor;
  transition: all 0.5s;
}
