footer {
  background: #f0f0f0;
  height: 5%;
  padding: 10px;
  font-size: 13px;
  width: 80%;
  margin: auto;

  .first-list,
  .second-list,
  .third-list {
    border-right: 1px solid $mintcolor;
    display: inline-block;
    padding: 20px 120px 30px 10px;
    line-height: 20px;
  }

  .p-footer {
    font: $secondaryfont;
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.social-list {
  display: inline-block;
  padding: 20px 150px 30px 20px;

  .fab {
    font-size: 22px;
    padding-right: 12px;
  }
}

.first-list:hover,
.second-list:hover,
.third-list:hover {
  border-right: 1px solid $yellowcolor;
}
