footer {
  background: #fafafa;
  height: 5%;
  padding: 10px 10px 20px;
  font-size: 13px;
  margin: auto;
  width: 90%;

  .wrapper {
    max-width: 1180px;
    border: none;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    &:hover {
      border: none;
    }

    @include for-phone {
      display: block;
      text-align: center;
      border-left: 1px solid $mintcolor;
      border-right: 1px solid $mintcolor;
    }

    div {
      border-right: 1px solid $mintcolor;
      line-height: 10px;
      flex-basis: 25%;
      padding-left: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      flex-flow: row;

      @include for-phone {
        border-right: none;
      }

      &:hover {
        border-right: 1px solid $yellowcolor;
      }

      h2 {
        font-size: 12px;
        margin-bottom: 10px;
      }

      &.social-list {
        border-right: none;
        li {
          display: inline;
        }

        i {
          padding-top: 15px;
          font-size: 15px;
          padding-right: 12px;
        }
      }
    }
  }
}
