footer {
  background: #f0f0f0;
  height: 5%;
  padding: 50px;
  margin-top: 30px;
  font-size: 13px;

  .first-list,
  .second-list,
  .third-list {
    border-right: 1px solid $mintcolor;
    display: inline-block;
    padding: 20px 160px 30px 50px;
  }

  .p-footer {
    font: $secondaryfont;
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.social-list {
  display: inline-block;
  padding: 20px 150px 30px 20px;
}

.first-list:hover,
.second-list:hover,
.third-list:hover {
  border-right: 1px solid $yellowcolor;
}
