.grid {
  max-width: 1180px;
  margin: 0 auto;
  height: 700px;
  font-size: 0;

  .column {
    font-size: 12px;
    max-width: 25%;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    background: $mintcolor;

    // @include for-phone {
    //   display: block;
    //   max-width: 100%;
    // }

    .item {
      height: 33.33%;
      width: 100%;

      // @include for-phone {
      //   display: block;
      //   max-width: 100%;
      // }

      article {
        position: relative;
        top: 50%;
        text-align: center;
        transform: translatey(-50%);
        margin: 0 auto;

        .fa-arrow-left,
        .fa-twitter {
          margin-bottom: 15px;
        }
      }

      //different background color for items //

      &.yellow {
        background: $yellowcolor;
      }
      &.mint {
        background: $lightmintcolor;
      }

      &.light-mint {
        background: $lightmintcolor;
      }

      &.xl {
        height: 66.66%;
        background: $superlightgreycolor;
      }
    }
  }
}

// twitter icons //

figure {
  text-align: center;
  display: inline-block;
  padding: 0 30px;
  position: relative;

  &:before {
    content: "";
    display: block;
    width: 20px;
    height: 1px;
    background: $greycolor;
    left: 0;
    top: 50%;
    position: absolute;
  }
  &:after {
    content: "";
    display: block;
    width: 20px;
    height: 1px;
    background: $greycolor;
    right: 0;
    top: 50%;
    position: absolute;
  }
}
