.grid {
  background: #eee;
  box-sizing: border-box;
  width: 80%;
  margin: 0 auto;

  .grid-container {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;

    .column {
      width: 220px;
      background: yellow;
      border: 1px solid green;
      display: inline-block;
      float: left;

      .item {
        background: blue;
        border: 1px solid pink;
        height: 220px;
      }

      .xl-item {
        height: 440px;
        background: lightblue;
      }
    }
  }
}

/*
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background: $lightmintcolor;

  .item {
    background: blue;
    height: 100px;
  }

  .column {
    background: yellow;
    display: inline;
  }
}*/

/* aplicar na tag GRID
  display: grid;
  grid-template-rows: 2r 2fr 2fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1px;*/

/*
.grid-content {
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}*/

/*
.item {
  background: $yellowcolor;
  color: white;
  padding: 10px;
}

.item:nth-child(odd) {
  background: $lightmintcolor;
}

.item1 {
  grid-row: span 2;
}

.item10 {
  grid-row: span 2;
}*/
