.grid {
  width:80%;
  height: 900px;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-rows: 2r 2fr 2fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
  justify-content: center;
  font-size: 0;
}

.grid-content {
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}



/*
.item {
  background: $yellowcolor;
  color: white;
  padding: 10px;
}

.item:nth-child(odd) {
  background: $lightmintcolor;
}

.item1 {
  grid-row: span 2;
}

.item10 {
  grid-row: span 2;
}*/


.item {
font-size: 14px;;
  text-align: center;
  height: 300px;
 
}

.column {
  background: $lightmintcolor;
 
}

