.logo {
  width: 80px;
}

.nav-list {
  /* removes bulleting*/
  list-style-type: none;
  /*removes space */
  padding: 0;
  margin: 0 10px;
  /* handle element width automatically */
  overflow: auto;
}
.float-lt {
  float: left;
}
.float-rt {
  float: right;
}
.menu {
  /* remove underline */
  text-decoration: none;
  font-size: 12px;
  margin-top: 15px;
  /* <a></a> block-elements, when hovered       (mouse-over) will highlight whole element     rather than just text*/

  /*text-align: center;*/
  padding: 10px 10px 5px;
}

.icon-menu {
  margin-left: 5px;
  font-size: 10px;
}

form.search input[type="text"] {
  font-size: 11px;
  border: 1px solid $mintcolor;
  float: left;
  width: 65px;
  font-family: $mainfont;
  padding-left: 5px;
  padding-right: 5px;
}

form.search button {
  float: left;
  width: 25px;
  background: $mintcolor;
  color: white;
  font-size: 11px;
  border: 1px solid $mintcolor;
  border-left: none;
  cursor: pointer;
}

form.search button:hover {
  border: 1px solid $yellowcolor;
}
