header {
  background: $superlightgreycolor;
  padding: 20px 30px;

  .list-nav {
    display: inline-block;
    padding-right: 20px;
  }


}

.outros {
  padding: auto 15px;
}
.search, .search-button {
  float: right;
}

.right-side {
  
 float: right;
justify-content: space-between;
}