.hero {
  height: 5%;
  .hero-content {
    text-align: center;
    padding: 80px 300px;
    h1 {
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 50px;
    }
    .link-btn {
      border: 1px solid #89ccca;
      padding: 10px 20px;
      letter-spacing: 0.1em;
      font-size: 13px;
    }
  }
}
