.hero {
  margin: 0 auto 20px;

  .hero-content {
    text-align: center;
    padding: 90px 100px;
    width: 100%;

    h1 {
      margin-bottom: 20px;
      color: white;

      @include mq-phone {
        font-size: 23px;
      }
    }
    p {
      margin-bottom: 50px;
      color: white;
      font-weight: 400;
      text-transform: uppercase;
    }

    .link-btn {
      color: white;
    }
  }

  .hero-bg {
    background-image: url("https://i.imgur.com/iiQ8OQh.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
